/* layout properties
    display = good for content layout
            values:
              1. inline
              2. inline-block
              3. block
              4. none
    float = good for structure layout
            values:
              1. left
              2.right
              3. none
    clear = to stop the floating element
            values:
              1. left
              2. right
              3. both
    position = position element anywhere on the browser
            values:
              1. static = default do not support movement of the element
              2. relative = move element from its original position and used as parent position
              3. fixed = move element from browser point of view and used as parent position
              4. absolute = best used as child position

    z-index = layering positioned element


*/
*{
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color: rgba(26, 2, 2, .7);
    /* border: 2px solid red; */
    padding: 50px 20px ;
    
    line-height: 1.5;
    text-transform: capitalize;
    position: relative;
     
}
header .logo{
    border: 1px dotted red;
    position: absolute;
    top: 30px;
    right: 40px;
}
header img{
    display: block;
    margin: 0 auto;
}
header span{
   /* border: 1px dotted black; */
    text-align: center;
    display: block;
    width: 200px;
    margin: 0 auto;
    letter-spacing: 10px;
    background-color: chartreuse;
    
}
nav{
    background-color: rgba(26, 2, 2, 0.5);
    /* border: 2px solid red; */
    padding: 20px;
    overflow: auto;
    height: 124px;
}
.menu{
    border: 2px solid black;
    position: fixed;
    width: 100%;
    left: 0;
    top: 170px;
    z-index: 3;
}
nav ul{
    /* border: 1px dashed black; */
    padding: 20px;
    /* display: inline-block; */
    float: right;
    margin-top: 20px;
}

nav ul li{
    /* border: 1px dashed black; */
    display: inline;
    margin-top: 30px;
    width: 100px;
    padding:10px 20px;
}
nav .sns{
    /* border: 1px dotted black; */
    float:left;
    /* display: inline-block; */
    /* margin-left: 100px; */
}
nav .sns a{
    /* border: 1px dotted black; */
    display: block;
    margin-top: 10px;
    width: 200px;
}
nav p{
    clear: both;
}
main{
    background-color: rgba(26, 2, 2, 0.13);
    overflow: auto;

    
}
section{
    border: 2px solid blue;
    /* height: 500px; */
    float: left;
    width: 70%;
    border-bottom:none;
    border-left: none;
    border-top: none
}
/* background-image: url(); = single image only
   background:url(), url(), url() = multiple image

*/
.showcase{
    /* border: 2px solid black; */
    height: 300px;
    padding: 20px 15px;
    line-height: 1.5;
    padding-top: 40px;
    background: url(../img/apple.png),url(../img/puma.jpg);
    background-size:150px 150px;
    background-repeat: no-repeat, repeat;
    background-position: center center;
    background-attachment: fixed, scroll;
}
.showcase a{
    background-color: gray;
    padding: 3px;
}
.content{
    /* border: 2px solid black; */
    /* height: 200px; */
    overflow: auto;
}
.content1{
    /* border: 2px dotted red; */
    /* height: 200px; */
    float: left;
    width: 40%;
    padding: 15px;
}
.content2, .content3{
    /* border: 2px dashed red; */
    /* height: 200px; */
    float: left;
    width: 30%;
    padding: 15px;
}
.content img{
    display: block;
    margin: 0 auto;
    width: 80%;
}
.gal-content{
    overflow: auto;
}
.col1, .col2, .col3, .col4{
    float: left;
    width: 25%;
    /* height: 200px; */
    border: 2px dotted red;
    padding: 15px;

}
.gal-content img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 10px auto;
}
.c1-p1{
    position: relative;
    z-index: 2;
}
.c1-p1 span{
    background-color: red;
    padding: 2px;
    position: absolute;
    right: 0;
    top: 80px;
}
.c1-p2{
    position: relative;
}
.c1-p2 span{
    background-color: yellow;
    padding: 2px;
    position: absolute;
    right: 0;
    top:80px;
}
aside{
    /* border: 2px solid rgba(0, 128, 0, 0.219); */
    /* height: 500px; */
  
    float: left;
    width: 30%;
}
.advertisement{
    /* border: 2px solid black; */
    height: 200px;
    overflow: auto;
}
.ad1 img{
    display: block;
    width: 100%;
    height: auto;
    /* border-radius: 20px; */
}
.ad1, .ad2{
    /* border: 1px dashed red; */
    /* height: 200px; */
    float: left;
    width: 50%;
    padding: 15px;
}
.ad2{
    padding-top: 60px;
    line-height: 1.6;
}
.sponsor{
    /* border: 2px solid blue; */
    /* height: 300px; */
    clear: both;
    padding: 15px;
}
.sponsor img{
    width: 80%;
    margin: 0 auto;
    display: block;
}
hr{
    width: 50%;
    margin: 0 auto;
}
table{
    width: 100%;
    border: 2px solid black;
    /* border-collapse: collapse; */
    border-spacing: 10px;
}
td, th{
    
    border:2px solid red ;
    border-top: none;
  
}
th:hover{
    background-color: yellow;
}
input, label, textarea{
    width: 100%;
    display: block;
    
}
input, textarea{
    padding: 10px;
    border-radius: 5px;
}
input:hover{
    background-color: yellow;
}
fieldset{
    width: 400px;
    margin: 0 auto;
}
form{
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: rgba(26, 2, 2, 0.3);
    border: 2px solid black;
    clear: both;
   
}
footer a{
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 100;

}
/* offset properties = movement of the position property
    
    left:0;
    right:
    top:0;
    bottom:


*/
/* .static{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    position: static;
    left: 100px;
}
.relative{
    width: 200px;
    height: 200px;
    border: 2px solid green;
    position: relative;
    left: 300px;
    top: 150px;
}
.fixed{
    width: 200px;
    height: 200px;
    border: 2px solid blue;
    position: fixed;
    right: 50px;
    bottom: 20px;
}
.absolute{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    position: absolute;
    right: 20px;
    top:0;
}
.relative1{
    width: 400px;
    height: 400px;
    border: 2px solid green;
    position: relative;
    left: 300px;
    top: 150px;
} */